@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
*{
margin:0;
padding:0;
}
.heading{
  font-family: 'Chewy', cursive;
}
.slide{
display:none;
}
.prev,.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 4em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border:2px solid red;
}
.next{
right: 0;
}
.prev:hover,.next:hover{
background-color:rgba(0,0,0,0.8);
}
.clip-path{
    height:70%;
    width:40vw;
    background-color:#AED6F1;
    position:absolute;
    z-index:-1;
    clip-path: ellipse(23rem 30rem at 20rem 1rem);
}
.clip-path-works{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.z-index{
z-index:-1;
width:0.1em;
right:9em;
position:absolute;
height:5rem;
margin-top:2em;
background-color:#000;
}
.z-index1{
z-index:-1;
width:0.1em;
right:9em;
position:absolute;
height:5.8rem;
margin-top:9em;
background-color:#000;
}
.clip-path2{
    height:15%;
    width:20vw;
    background-color:#082D92;
    z-index: -1;
    position:absolute;
    left:33em;
    clip-path: ellipse(19rem 30rem at 19rem 1rem);
}
.dot{
  background:radial-gradient(farthest-side,blue 80%,blue);
  background-size:5px 5px;
  height:10%;
  border-radius:50%;
  width:10%;
  background-repeat:no-repeat;
}
}
html{
font-family:'Roboto', sans-serif;
}