@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
*{
margin:0;
padding:0;
}
.heading{
  font-family: 'Modak', cursive;
}
.clip-path{
    height:70%;
    width:40vw;
    background-color:#AED6F1;
    position:absolute;
    z-index:-1;
    clip-path: ellipse(23rem 30rem at 20rem 1rem);
}
.clip-path-works{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.z-index{
z-index:-1;
width:0.1em;
right:9em;
position:absolute;
height:5rem;
margin-top:2em;
background-color:#000;
}
.z-index1{
z-index:-1;
width:0.1em;
right:9em;
position:absolute;
height:5.8rem;
margin-top:9em;
background-color:#000;
}
.clip-path2{
    height:15%;
    width:20vw;
    background-color:#082D92;
    z-index: -1;
    position:absolute;
    left:33em;
    clip-path: ellipse(19rem 30rem at 19rem 1rem);
}
.dot{
  background:radial-gradient(farthest-side,blue 80%,blue);
  background-size:5px 5px;
  height:10%;
  border-radius:50%;
  width:10%;
  background-repeat:no-repeat;
}
}
html{
font-family:'Roboto', sans-serif;
}